.sidebar {
  width: 60%;
  height: 100%;
  background-color: #1a1a1a;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  &__submenu {
    padding-left: 20px;
    display: none;
    list-style: none;

    &.open {
      display: block;
    }

    .sidebar__submenu-item {
      font-size: 14px;
      padding: 7px 0;
      padding-left: 5px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;

      &--active {
        // font-weight: bold;
        // color: #007bff;
        background-color: #333;
        color: #ffffff;
      }
    }
  }
  &__dropdown-toggle {
    position: absolute;
    top: 0;
  }

  @media (min-width: 769px) {
    width: 250px;
    transform: translateX(0);
  }

  &__wrapper {
    padding-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__arnament2 {
    width: 22%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media (max-width: 576px) {
      width: 20%;
    }

    @media (max-width: 320px) {
      width: 20%;
    }
  }

  &__arnament1 {
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (max-width: 576px) {
      width: 27%;
    }

    @media (max-width: 320px) {
      width: 20%;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    height: 40px;

    img {
      width: 100px;

      @media (max-width: 576px) {
        width: 90px;
      }

      @media (max-width: 320px) {
        width: 80px;
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: max-content;
    height: 100%;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scrollbar-gutter: stable both-edges;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #f7d74f;
      border-radius: 8px;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #b3b3b3;
    position: relative;
    transition: background-color 0.2s;

    &--disabled {
      color: #999; // Например, серый цвет текста
      cursor: not-allowed; // Курсор "не разрешено"
      // Дополнительные стили для иконок или других элементов внутри заблокированного пункта
      .sidebar__menu-icon {
        color: #bbb;
      }
    }

    @media (max-width: 576px) {
      font-size: 13px;
      padding: 10px 12px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
      padding: 8px 10px;
    }

    &:hover {
      background-color: #333;
    }

    &--active {
      background-color: #333;
      color: #ffffff;
    }
  }

  &__menu-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #b3b3b3;

    @media (max-width: 576px) {
      font-size: 16px;
      margin-right: 8px;
    }

    @media (max-width: 320px) {
      font-size: 14px;
      margin-right: 6px;
    }
  }
}
